---
layout: layouts/page.njk
pageKey: events
pagination:
  data: langs.codes
  size: 1
  alias: lang
permalink: "{{ langs.prefix[lang] }}/events/"
---
{%- set T = i18n[lang] -%}{%- set C = loc[lang] -%}{%- set S = C.site -%}{%- set X = collections.l10n[lang] -%}
<section class="section">
  <div class="container">
    {%- for g in X.events | groupByYear %}
    <h2 class="group-title">{{ g.year }}</h2>
    <ul class="event-cards">
      {%- for e in g.items %}<li>{% include "partials/event-card.njk" %}</li>{% endfor %}
    </ul>
    {%- endfor %}
  </div>
</section>
