---
layout: layouts/page.njk
pageKey: news
pagination:
  data: langs.codes
  size: 1
  alias: lang
permalink: "{{ langs.prefix[lang] }}/news/"
---
{%- set T = i18n[lang] -%}{%- set C = loc[lang] -%}{%- set S = C.site -%}{%- set X = collections.l10n[lang] -%}
<section class="section">
  <div class="container narrow">
    <ul class="news-list">
      {%- for n in X.news %}
      <li>
        <a href="{{ n.url }}">
          <span class="news-cat">{{ n.data.category }}</span>
          <span class="news-title">{{ n.data.title }}</span>
          {% if n.data.summary %}<span class="news-summary">{{ n.data.summary }}</span>{% endif %}
          <time datetime="{{ n.date | isoDate }}">{{ n.date | ldate(lang) }}</time>
        </a>
      </li>
      {%- endfor %}
    </ul>
    <p class="note">{{ T.news.officialPre }}<a href="{{ S.links.graduate }}" target="_blank" rel="noopener">{{ T.news.officialLink }}<span class="sr-only">{{ T.newWin }}</span></a>{{ T.news.officialPost }}</p>
  </div>
</section>
