---
layout: layouts/page.njk
title: 페이지를 찾을 수 없습니다
eyebrow: 404
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="section"><div class="container narrow">
  <p class="intro-text">주소가 바뀌었거나 삭제된 페이지입니다.</p>
  <p class="btn-row"><a class="btn btn-primary" href="/">홈으로</a><a class="btn btn-outline" href="/contact/">문의</a></p>
</div></section>
